<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navl-link-text{
            
            text-decoration: none;
        }
        @media (max-width: 1350px) {
           
            .min-height-300{
              min-height:200px !important;
        
            }
        }
    </style>
</head>
<body>
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " href="/dashboard">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/todo">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-sharp fa-solid fa-list-ul fa-2xl" style="color: #ee2b2b;"></i>
                    </div>
                    <span class="nav-link-text ms-1">To-do</span>
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link " href="/project">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-sharp fa-solid fa-laptop-file fa-2xl" style="color: #74C0FC;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Project</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/pr0ject">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-sharp fa-solid fa-bars-progress fa-2xl" style="color: #B197FC;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Project list</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/userworkallocation">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-user-check fa-2xl" style="color: #63E6BE;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Work allocated </span>
                </a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link " href="/workallocation">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-briefcase fa-2xl" style="color: #B197FC;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Workallocation </span>
                </a>
            </li>-->
            <!-- <li class="nav-item">
                <a class="nav-link " href="/empleave">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">

                        <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Leave Request</span>
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link " href="/managerleave">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-regular fa-calendar-check fa-2xl" style="color: #74C0FC;"></i>
                    </div>
                    <span class="nav-link-text ms-1"> Leave disposition</span>
                </a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link " href="/tables">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-file-circle-check fa-2xl" style="color: #63E6BE;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Tables</span>
                </a>
            </li> -->
            

           <!-- <li class="nav-item">
                <a class="nav-link " href="/userprofile">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
            </li> -->


            <!-- <li class="nav-item">
                <a class="nav-link " href="/payrollmanager">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-landmark fa-2xl" style="color: #ee2b2b"></i>
                    </div>
                    <span class="nav-link-text ms-1">Payroll allocation</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link  " href="/payroll">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-wallet fa-2xl" style="color: #30783e;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Payroll</span>
                </a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link " href="/workreport">
                <div
                    class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fa-regular fa-file" style="color: #ee2b2b"></i>
                </div>
                <span class="nav-link-text ms-1">Work-Report</span>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/workreportlist">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-folder fa-2xl" style="color: #74C0FC;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Work-Report List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/tasks">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-bars-progress" style="color:brown;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Tasks</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/taskslist">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-list-check" style="color:#30783e;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Tasks List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/adduser">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-folder fa-2xl" style="color: #74C0FC;"></i>
                    </div>
                    <span class="nav-link-text ms-1">Add user</span>
                </a>
            </li>

        </ul>
    </div>
</body>
</html>